* {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

body {
  width: 1030px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

section {
  width: inherit;
  margin: inherit;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  width: inherit;
  margin-bottom: 28px;
}

.menu {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.menu__left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__right span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  background: #000;
  color: #fff;
}

.menu__left img {
  margin-right: 45px;
}

img ~ a,
.menu__right div,
.search ~ a {
  margin-right: 35px;
}

.search {
  width: 178px;
  border-bottom: 1px solid;
}

.search__row {
  border: none;
}

.search img {
  width: 14px;
  height: 14px;
}

.lang {
  width: 20px;
  height: 20px;
}

.mobile-menu {
  display: none;
}

.head {
  background: url(Pics/rob-potter-422534-unsplash.png) no-repeat;
  width: inherit;
  height: 280px;
  display: block;
  text-align: left;
}

.head__title {
  color: white;
  padding: 90px 60px 0;
  margin: 0 0 15px;
  font-size: 30px;
  line-height: 29px;
  text-transform: uppercase;
}

.head__title ~ a {
  padding: 0 60px;
}

.link {
  font-size: 12px;
  line-height: 11px;
  color: #fff;
}

.upper-link {
  text-transform: uppercase;
  font-weight: bold;
  color: inherit;
}

.upper-link_white {
  color: #fff;
}

.main-title {
  margin: 53px 0 3px;
}

.title {
  font-size: 22px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  margin-bottom: 26px;
}

.item {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 248px;
  height: 261px;
}

.row :not(:last-child) ::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50px;
  width: 1px;
  height: 100px;
  background: silver;
}

.item_img {
  align-self: flex-start;
  margin: 0 0 25px 18px;
}

.item_name {
  font-size: 12px;
  line-height: 11px;
  margin: 0 0 10px;
  flex-grow: 1;
}

.item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  width: 206px;
  flex-grow: 1;
}

.price {
  font-size: 14px;
  line-height: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: justify;
}

.circles {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 4px;
}

.circle_main {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.circle_gray {
  background: #c4c4c4;
}

.circle_black {
  background: #0e1211;
}

.circle_red {
  background: #b62e3c;
}

.circle_yellow {
  background: #fdb431;
}

.circle_camel {
  background: #e29d69;
}

.circle_mandal {
  background: #762e31;
}

.circle_blue {
  background: #41479b;
}

.circle_light-blue {
  background: #257da9;
}

.item-2,
.item-3 {
  width: 266px;
  padding-left: 27px;
}

.item-1 {
  padding-left: 11px;
}

.item-4 {
  padding-left: 25px;
}

.about {
  background: #000;
  height: 494px;
  display: flex;
  flex-direction: row;
}

.about_img {
  display: flex;
  width: 644px;
  height: 361px;
  margin: 67px 42px 66px 33px;
}

.about__text {
  display: flex;
  flex-direction: column;
  width: 266px;
  text-align: left;
}

.small-title {
  color: #fff;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  margin: 155px 0 14px;
}

.text {
  font-size: 14px;
  line-height: 17px;
}

.text_white {
  color: #fff;
  margin: 0 0 20px;
}

.section-title {
  margin: 80px 0 40px;
}

.story {
  display: flex;
  width: 307px;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 1024px) {
  body {
    width: 930px;
  }

  .header {
    margin-bottom: 42px;
  }

  .menu__left img {
    margin-right: 30px;
    width: 61px;
  }

  .menu__right {
    padding-left: 100px;
  }

  .search {
    width: 160px;
  }

  .search ~ a {
    margin-right: 25px;
  }

  .head {
    height: 252px;
    background: url(Pics/rob-potter-422534-unsplash3.png) no-repeat;
  }

  .head__title {
    color: white;
    padding: 78px 0 5px 53px;
    margin: 0;
  }

  .main-title {
    margin-top: 67px;
  }

  .row {
    margin-bottom: 64px;
  }

  .item-1 {
    padding-left: 0;
    width: 225px;
  }

  .item-2,
  .item-3 {
    width: 240px;
    padding: 0 33px 0 20px;
  }

  .item_img {
    width: 170px;
    margin-bottom: 41px;
  }

  .item_name,
  .item__info {
    padding: 0 11px;
  }

  .item_name {
    margin-bottom: 6px;
  }

  .circle {
    margin: 0 3px;
  }

  .about {
    height: 442px;
  }

  .about_img {
    width: 579px;
    height: 325px;
    margin: 59px 39px 58px 30px;
  }

  .about__text {
    width: 248px;
  }

  .small-title {
    margin: 138px 0 12px;
  }

  .text {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 768px;
  }

  .header {
    margin-bottom: 25px;
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 41px 46px 10px 43px;
  }

  .mobile-logo {
    width: 156px;
    height: 34px;
  }

  .mobile-nav {
    width: 60px;
    height: 26px;
    border-top: solid 8px #000;
    border-bottom: solid 8px #000;
  }

  .head__title {
    font-size: 50px;
    line-height: 48px;
    margin-bottom: 36px;
    padding: 125px 0 5px 44px;
  }

  .upper-link_white {
    font-size: 20px;
    line-height: 19px;
  }

  .head__title ~ a {
    padding-left: 44px;
  }

  .head {
    background: url(Pics/rob-potter-422534-unsplash2.png) no-repeat;
    width: 1527px;
    height: 415px;
  }

  .title {
    font-size: 30px;
    line-height: 29px;
  }

  .main-title {
    display: inline-block;
    width: 350px;
    height: 29px;
    margin: 67px 20px 50px;
  }

  .row {
    justify-content: space-between;
    height: 352px;
    margin-bottom: 45px;
  }

  .row :not(:last-child) ::after {
    display: none;
}

  .item-1 {
    margin-left: 80px;
  }

  .item-2 {
    padding: 0;
  }

  .item-3,
  .item-4 {
    display: none;
  }

  .item_img {
    width: 230px;
    height: 233px;
  }

  .item_name {
    font-size: 20px;
    line-height: 19px;
    text-align: left;
    margin-bottom: 16px;

  }

  .item__info {
    flex-shrink: 0;
    width: 260px;
    padding-right: 0;
  }

  .price {
    font-size: 25px;
    line-height: 24px;
  }

  .circle {
    width: 20px;
    height: 20px;
    margin: 0 2px;
  }

  .circle_red {
    order: -2;
  }

  .circle_black {
    order: -1;
  }

  .about {
    position: relative;
    display: flex;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 10;
  }

  .about::before {
    content: "";
    position: absolute;
    width: 768px;
    height: 26px;
    border: 26px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
    border-left: 768px solid #000;
    left: 0;
    top: -50px;
    }

  .about_img {
    width: 697px;
    height: 389px;
    margin: 0;
  }

  .about__text {
    width: 682px;
    text-align: center;
  }

  .about__text a {
    display: none;
  }

  .small-title br {
    display: none;
  }

  .small-title {
    font-size: 30px;
    line-height: 37px;
    margin-top: 25px;
  }

  .text_white {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 35px;
  }
}

@media (max-width: 375px) {
  body {
    width: 375px;
  }

  .header {
    height: 72px;
    margin-bottom: 0;
  }

  .mobile-menu {
    padding: 24px 47px 26px 48px;
  }

  .mobile-logo {
    width: 104px;
    height: 22px;
  }

  .mobile-nav {
    width: 40px;
    height: 21px;
  }

  .head {
    background: url(Pics/rob-potter-422534-unsplash1.png) no-repeat;
    width: 706px;
    height: 191px;
  }

  .head__title {
    font-size: 20px;
    line-height: 19px;
    padding: 70px 50px 9px;
    margin: 0;
  }

  .upper-link_white {
    font-size: 12px;
    line-height: 11px;
  }

  .head__title ~ a {
    padding-left: 50px;
}

  .title {
    font-size: 20px;
    line-height: 19px;
  }

  .main-title {
    height: 19px;
    margin: 38px 10px 0;
    flex-grow: 0;
  }

  .row {
    height: 248px;
    margin-top: -10px;
  }

  .item {
    width: 375px;
    height: 248px;
    align-items: flex-start;
    margin-left: 40px;
  }

  .item-2 {
    display: none;
  }

  .item_img {
    width: 163px;
    height: 165px;
    margin: 0 0 20px 60px;
  }

  .item_name,
  .item__info {
    padding-left: 20px;
  }

  .item_name {
    font-size: 15px;
    line-height: 14px;
    flex-grow: 0;
    margin-bottom: 10px;
  }

  .item__info {
    width: 280px;
    flex-grow: 0;
  }

  .price {
    font-size: 20px;
    line-height: 19px;
  }

  .circle {
    width: 15px;
    height: 15px;
  }

  .about_img {
    width: 276px;
    height: 151px;
  }

  .about {
    margin-top: 110px;
  }

  .about__text {
    width: 281px;
    height: 170px;
  }

  .small-title {
    font-size: 20px;
    line-height: 25px;
    margin-top: 0;
  }

  .small-title > br {
    display: inline-block;
  }

  .text_white {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 33px;
  }
}

@media (max-width: 320px) {
  body {
    width: 320px;
  }

  .mobile-menu {
    padding: 24px 15px 26px 24px;
    }

  .head__title,
  .head__title ~ a {
    padding-left: 25px;
  }

  .main-title {
    text-align: left;
    margin-left: 50px;
  }

  .about {
    width: 330px;
  }
}
