* {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

body {
  width: 1030px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  width: inherit;
  margin-bottom: 28px;
}

.menu {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.menu__left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__right span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  background: #000;
  color: #fff;
  margin-right: 35px;
}

.menu__logo {
  margin-right: 45px;
}

img ~ a,
.menu__right div,
.menu__search + a {
  margin-right: 35px;
}

.menu__search {
  position: relative;
  width: 178px;
  border-bottom: 1px solid;
}

.menu__search-row {
  border: none;
}

.menu__glass {
  position: absolute;
  right: 0;
  width: 14px;
  height: 14px;
}

.menu__lang {
  width: 20px;
  height: 20px;
}

.mobile-menu {
  display: none;
}

.head {
  background: url(Pics/rob-potter-422534-unsplash.png) no-repeat;
  width: inherit;
  height: 280px;
  display: block;
  text-align: left;
  padding: 90px 60px 0;
}

.head__title {
  color: white;
  margin: 0 0 15px;
  font-size: 30px;
  line-height: 29px;
  text-transform: uppercase;
}

.menu__link,
.link {
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  font-weight: bold;
  color: inherit;
}

.upper-link {
  text-transform: uppercase;
  font-weight: bold;
  color: inherit;
}

.upper-link_white {
  color: #fff;
}

.sneakers {
  display: flex;
  flex-direction: column;
}

.sneakers__title {
  font-size: 22px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 53px 0 0 0;
}

.sneakers__row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  margin-bottom: 26px;
}

.sneakers__item {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 248px;
  height: 261px;
}

.sneakers__row :not(:last-child) ::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50px;
  width: 1px;
  height: 100px;
  background: silver;
}

.sneakers__img {
  align-self: flex-start;
  margin: 0 0 25px 18px;
}

.sneakers__name {
  font-size: 12px;
  line-height: 11px;
  margin: 0 0 10px;
  flex-grow: 1;
  text-align: left;
}

.sneakers__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  width: 206px;
  flex-grow: 1;
}

.sneakers__price {
  font-size: 14px;
  line-height: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: justify;
}

.sneakers__circles {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.sneakers__circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 4px;
}

.sneakers__circle_main {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.sneakers__circle_gray {
  background: #c4c4c4;
}

.sneakers__circle_black {
  background: #0e1211;
}

.sneakers__circle_red {
  background: #b62e3c;
}

.sneakers__circle_yellow {
  background: #fdb431;
}

.sneakers__circle_camel {
  background: #e29d69;
}

.sneakers__circle_mandal {
  background: #762e31;
}

.sneakers__circle_blue {
  background: #41479b;
}

.sneakers__circle_light-blue {
  background: #257da9;
}

.sneakers__item-2,
.sneakers__item-3 {
  width: 266px;
  padding-left: 27px;
}

.sneakers__item-1 {
  padding-left: 11px;
}

.sneakers__item-4 {
  padding-left: 25px;
}

.about {
  background: #000;
  height: 494px;
  display: flex;
  flex-direction: row;
}

.about_img {
  display: flex;
  width: 644px;
  height: 361px;
  margin: 67px 42px 66px 33px;
}

.about__text {
  display: flex;
  flex-direction: column;
  width: 266px;
  text-align: left;
}

.small-title {
  color: #fff;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  margin: 155px 0 14px;
}

.text {
  font-size: 14px;
  line-height: 17px;
}

.text_white {
  color: #fff;
  margin: 0 0 20px;
}

.stories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 70px;
}

.stories__title {
  font-size: 22px;
  line-height: 21px;
  align-self: center;
  text-transform: uppercase;
  margin: 80px 0 40px;
}

.stories__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stories__item {
  width: 307px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 55px;
}

.stories__img {
  width: inherit;
  height: 147px;
}

.stories__subtitle {
  font-size: 18px;
  line-height: 17px;
  margin: 30px 0 10px;
}

.stories__text {
  height: auto;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  margin: 0 0 18px;
}

.stories__footer {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stories__link {
  font-size: 12px;
  line-height: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.stories__arrow_white {
  display: none;
}

.stories__date {
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: gray;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin-bottom: 75px;
}

.gallery__tag {
  font-size: 18px;
  line-height: 17px;
  text-align: right;
  text-transform: uppercase;
  color: #000;
  opacity: 0.3;
}

.gallery_img {
  width: 147px;
  height: 147px;
  margin: 0;
}

.gallery_mobile-768 {
  display: none;
}

.gallery__row {
  display: flex;
  flex-direction: row;
}

.footer {
  width: 1170px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -70px;
  padding: 65px 0 35px;
}

.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 40px 5px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer__nav_1 {
  margin-right: 114px;
}

.footer__nav_2 {
  margin-right: 72px;
}

.footer__nav_3 {
  margin-right: 85px;
}

.footer__link {
  color: #fff;
  font-size: 12px;
  margin-bottom: 6px;
}

.footer__link ~ br {
  display: none;
}

.footer__link_up {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__button {
  width: 140px;
  height: 30px;
  background-color: #000;
  color: #fff;
  margin-bottom: 34px;
}

.footer__social {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 12px;
  line-height: 11px;
  color: #fff;
}

@media (max-width: 1024px) {
  body {
    width: 930px;
  }

  .header {
    margin-bottom: 42px;
  }

  .menu__logo {
    margin-right: 30px;
    width: 61px;
  }

  .menu__right {
    padding-left: 100px;
  }

  .menu__search {
    width: 160px;
  }

  .menu__search ~ a {
    margin-right: 25px;
  }

  .head {
    height: 252px;
    background: url(Pics/rob-potter-422534-unsplash3.png) no-repeat;
    padding: 78px 0 5px 53px;
  }

  .head__title {
    color: white;
    margin: 0;
  }

  .sneakers__title {
    margin-top: 67px;
  }

  .sneakers__row {
    margin-bottom: 64px;
  }

  .sneakers__item-1 {
    padding-left: 0;
    width: 225px;
  }

  .sneakers__item-2,
  .sneakers__item-3 {
    width: 240px;
    padding: 0 33px 0 20px;
  }

  .sneakers__img {
    width: 170px;
    margin-bottom: 41px;
  }

  .sneakers__name,
  .sneakers__info {
    padding: 0 11px;
  }

  .sneakers__name {
    margin-bottom: 6px;
  }

  .sneakers__circle {
    margin: 0 3px;
  }

  .about {
    height: 442px;
  }

  .about_img {
    width: 579px;
    height: 325px;
    margin: 59px 39px 58px 30px;
  }

  .about__text {
    width: 248px;
  }

  .small-title {
    margin: 138px 0 12px;
  }

  .text {
    font-size: 13px;
    line-height: 16px;
  }

  .stories {
    margin-bottom: 90px;
  }

  .stories__title {
    margin-top: 90px;
  }

  .stories__item {
    width: 277px;
  }

  .stories__subtitle {
    margin-top: 40px;
  }

  .stories__text {
    font-size: 13px;
    line-height: 16px;
  }

  .gallery {
    margin-bottom: 94px;
  }

  .gallery_img {
    width: 132px;
  }

  .footer {
    padding-top: 65px;
  }

  .footer__nav_4 {
    margin-right: 120px;
  }

  .footer__copyright {
    width: 775px;
    margin: 0 150px;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 768px;
  }

  .header {
    margin-bottom: 25px;
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 41px 46px 10px 43px;
  }

  .mobile-menu__logo {
    width: 156px;
    height: 34px;
  }

  .mobile-menu__nav {
    width: 60px;
    height: 26px;
    border-top: solid 8px #000;
    border-bottom: solid 8px #000;
  }

  .head {
    background: url(Pics/rob-potter-422534-unsplash2.png) no-repeat;
    width: 1527px;
    height: 415px;
    padding: 125px 44px 0;
  }

  .head__title {
    font-size: 50px;
    line-height: 48px;
    margin-bottom: 36px;
    padding-bottom: 5px;
  }

  .upper-link_white {
    font-size: 20px;
    line-height: 19px;
  }

  .sneakers__title {
    font-size: 30px;
    line-height: 29px;
    display: inline-block;
    width: 350px;
    height: 29px;
    margin: 67px 20px 50px;
  }

  .sneakers__row {
    justify-content: space-between;
    height: 352px;
    margin-bottom: 45px;
  }

  .sneakers__row :not(:last-child) ::after {
    display: none;
  }

  .sneakers__item-1 {
    margin-left: 80px;
  }

  .sneakers__item-2 {
    padding: 0;
  }

  .sneakers__item-3,
  .sneakers__item-4 {
    display: none;
  }

  .sneakers__img {
    width: 230px;
    height: 233px;
  }

  .sneakers__name {
    font-size: 20px;
    line-height: 19px;
    text-align: left;
    margin-bottom: 16px;
  }

  .sneakers__info {
    flex-shrink: 0;
    width: 260px;
    padding-right: 0;
  }

  .sneakers__price {
    font-size: 25px;
    line-height: 24px;
  }

  .sneakers__circle {
    width: 20px;
    height: 20px;
    margin: 0 2px;
  }

  .sneakers__circle_red {
    order: -2;
  }

  .sneakers__circle_black {
    order: -1;
  }

  .about {
    position: relative;
    display: flex;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 10;
  }

  .about::before {
    content: "";
    position: absolute;
    width: 768px;
    height: 26px;
    border: 26px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
    border-left: 768px solid #000;
    left: 0;
    top: -50px;
  }

  .about_img {
    width: 697px;
    height: 389px;
    margin: 0;
  }

  .about__text {
    width: 682px;
    text-align: center;
  }

  .about__text a {
    display: none;
  }

  .small-title br {
    display: none;
  }

  .small-title {
    font-size: 30px;
    line-height: 37px;
    margin-top: 25px;
  }

  .text_white {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 35px;
  }

  .stories {
    background: #000;
    position: relative;
  }

  .stories__row {
    justify-content: center;
  }

  .stories__title {
    font-size: 30px;
    color: #fff;
    margin-top: 110px;
  }

  .stories__item {
    width: 312px;
    margin: 0 28px;
  }

  .stories__img {
    height: 165px;
  }

  .stories__item_3 {
    display: none;
  }

  .stories__subtitle,
  .stories__text,
  .stories__link,
  .stories__date {
    color: #fff;
  }

  .stories__subtitle {
    font-size: 25px;
  }

  .stories__text,
  .stories__link {
    font-size: 20px;
    line-height: 25px;
  }

  .stories__text {
    margin-bottom: 40px;
  }

  .stories__footer {
    justify-content: space-between;
  }

  .stories__arrow {
    display: none;
  }

  .stories__arrow_white {
    display: inline-block;
    vertical-align: middle;
    margin: 0 40px 0 12px;
  }

  .stories__date {
    font-size: 15px;
    align-self: center;
  }

  .stories::after {
    content: "";
    position: absolute;
    background: #000;
    width: 100%;
    height: 138%;
    transform: skew(3deg) rotate(3deg) translateY(40px);
    z-index: -2;
}

  .gallery {
    margin-bottom: 125px;
  }

  .gallery__row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery__tag {
    font-size: 30px;
    margin: 35px 40px 18px;
    color: #fff;
    opacity: 1;
  }

  .gallery_img {
    width: 170px;
    height: 170px;
  }

  .gallery_mobile-768 {
    display: inline-block;
  }

  .footer {
    width: inherit;
    margin-left: 0;
  }

  .footer__row {
    margin-left: 20px;
  }

  .footer__nav_1,
  .footer__nav_2 {
    margin-right: 55px;
  }

  .footer__nav_4 {
    margin-right: 0;
  }

  .footer__link {
    margin-bottom: 8px;
  }

  .footer__copyright {
    margin: 0;
  }

}

@media (max-width: 375px) {
  body {
    width: 375px;
  }

  .header {
    height: 72px;
    margin-bottom: 0;
  }

  .mobile-menu {
    padding: 24px 47px 26px 48px;
  }

  .mobile-menu__logo {
    width: 104px;
    height: 22px;
  }

  .mobile-menu__nav {
    width: 40px;
    height: 21px;
  }

  .head {
    background: url(Pics/rob-potter-422534-unsplash1.png) no-repeat;
    width: 706px;
    height: 191px;
    padding: 70px 50px 0;
  }

  .head__title {
    font-size: 20px;
    line-height: 19px;
    padding-bottom: 9px;
    margin: 0;
  }

  .upper-link_white {
    font-size: 12px;
    line-height: 11px;
  }

  .sneakers__title {
    font-size: 20px;
    line-height: 19px;
    height: 19px;
    margin: 38px 10px 0;
    flex-grow: 0;
  }

  .sneakers__row {
    height: 248px;
    margin: -10px 0 0;
  }

  .sneakers__item {
    width: 375px;
    height: 248px;
    align-items: flex-start;
    margin-left: 40px;
  }

  .sneakers__item-2 {
    display: none;
  }

  .sneakers__img {
    width: 163px;
    height: 165px;
    margin: 0 0 20px 60px;
  }

  .sneakers__name,
  .sneakers__info {
    padding-left: 20px;
  }

  .sneakers__name {
    font-size: 15px;
    line-height: 14px;
    flex-grow: 0;
    margin-bottom: 10px;
  }

  .sneakers__info {
    width: 280px;
    flex-grow: 0;
  }

  .sneakers__price {
    font-size: 20px;
    line-height: 19px;
  }

  .sneakers__circle {
    width: 15px;
    height: 15px;
  }

  .about_img {
    width: 276px;
    height: 151px;
  }

  .about {
    margin-top: 110px;
    padding-bottom: 104px;
  }

  .about__text {
    width: 281px;
    height: 170px;
  }

  .small-title {
    font-size: 20px;
    line-height: 25px;
    margin-top: 0;
  }

  .small-title > br {
    display: inline-block;
  }

  .text_white {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 33px;
  }

  .stories {
    height: 415px;
  }

  .stories__title {
    font-size: 20px;
    margin: 0 0 25px;
  }

  .stories__item {
    width: 279px;
    height: 148px;
  }

  .stories__item_2 {
    display: none;
  }

  .stories__subtitle {
    font-size: 20px;
  }

  .stories__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }

  .stories__link {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .stories::after {
    height: 180%;
  }

  .gallery {
    margin-bottom: 85px;
  }

  .gallery__tag {
    margin-top: 15px;
    margin-right: 60px;
    font-size: 25px;
  }

  .gallery_img {
    width: 140px;
    height: 140px;
  }

  .gallery_mobile-768,
  .gallery_mobile-375 {
    display: none;
  }

  .footer {
    align-items: center;
    padding-top: 30px;
  }

  .footer__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .footer__nav {
    align-items: center;
  }

  .footer__nav_1,
  .footer__nav_2,
  .footer__nav_3,
  .footer__nav_4 {
    margin: 0 0 40px;
  }

  .footer__nav_1 {
    order: -2;
  }

  .footer__nav_3 {
    order: -1;
  }

  .footer__link {
    font-size: 15px;
    line-height: 14px;
  }

  .footer__link_up {
    margin-bottom: 8px;
  }

  .footer__link ~ br {
    display: inline-block;
  }

  .footer__button {
    margin: 25px 0 104px;
  }

}

@media (max-width: 320px) {
  body {
    width: 320px;
  }

  .mobile-menu {
    padding: 24px 15px 26px 24px;
    }

  .head {
    padding-left: 25px;
  }

  .sneakers__title {
    text-align: left;
    margin-left: 50px;
  }

  .about {
    width: 330px;
  }
}
